<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome, {{ session['username'] }}!</h1>
    
    <!-- Agrega un contenedor para la cámara -->
    <div id="camera-container"></div>
    
    <button id="verificar-cedula-button" class="home-button">Verificar Cédula</button>
    <button id="generar-informe" class="home-button">Generar Informe</button>
   
    <a href="/logout">Logout</a>
    
    <script>
       const verificarCedulaButton = document.getElementById("verificar-cedula-button");
       const cameraContainer = document.getElementById("camera-container");
       const generarInforme = document.getElementById("generar-informe");

        verificarCedulaButton.addEventListener("click", function () {
            // Accede a la cámara del dispositivo
            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    const videoElement = document.createElement("video");
                    videoElement.srcObject = stream;
                    videoElement.setAttribute("autoplay", "true"); // Reproducir automáticamente el video
                    cameraContainer.appendChild(videoElement);

                    // Detén la cámara después de 5 segundos
                    setTimeout(function () {
                        videoElement.srcObject.getTracks().forEach(function (track) {
                            track.stop();
                        });
                        cameraContainer.removeChild(videoElement);

                        // Redirige a la página deseada después de 5 segundos
                        window.location.href = '/mostrar_datos'; // Cambia '/otra-pagina' por la URL que desees
                    }, 5000);
                })
                .catch(function (error) {   
                    console.error("Error al acceder a la cámara:", error);
                });
        });

        generarInforme.addEventListener("click", function () {
            // Accede a la cámara del dispositivo
            

                        // Redirige a la página deseada después de 5 segundos
                        window.location.href = '/reportes'; // Cambia '/otra-pagina' por la URL que desees
                    }, 5000)
              
                
       
    </script>
</body>
</html>

