<!DOCTYPE html>
<html>
<head>
    <title>Mostrar Datos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Reportes Consulta</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido </th>
            <th>Cedula</th>
            <th>Fecha Nacimiento</th>
            <th>Lugar de nacimiento</th>
            <th>Fecha Expedicion</th>
            <th>Lugar Expedicion</th>
            <th>Rh</th>
            <th>Estatura</th>
            <th>Estado</th>
           
        </tr>
        {% for dato in datos %}
        <tr>
            <td>{{ dato[0] }}</td>
            <td>{{ dato[1] }}</td>
            <td>{{ dato[2] }}</td>
            <td>{{ dato[3] }}</td>
            <td>{{ dato[4] }}</td>
            <td>{{ dato[5] }}</td>
            <!-- Agrega los valores de las nuevas columnas aquí -->
            <td>{{ dato[6] }}</td>
            <td>{{ dato[7] }}</td>
            <td>{{ dato[8] }}</td>
            <td>{{ dato[9] }}</td>
            <td>{{ dato[10] }}</td>
            <td>{{ dato[11] }}</td>
        </tr>
        {% endfor %}
    </table>
    <button id="verificar-cedula-button" class="home-button">Atras</button>
    <script>
        const verificarCedulaButton = document.getElementById("verificar-cedula-button");
         const cameraContainer = document.getElementById("camera-container");
 
         verificarCedulaButton.addEventListener("click", function () {
          
                         // Redirige a la página deseada después de 5 segundos
                         window.location.href = '/reportes'; // Cambia '/otra-pagina' por la URL que desees
                     }, 5000);
                
         
     </script>
</body>
</html>
